@font-face {
  font-family: 'GillSansUltraBold';
  src: url('https://it-the-boost-society.github.io/fonts-tbs/kley/Gill-Sans-Ultra-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansNovaUltraBold';
  src: url('https://it-the-boost-society.github.io/fonts-tbs/kley/Gill-Sans-Nova-Ultra-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

