@font-face {
  font-family: 'AvanttHeavy';
  src: url('https://it-the-boost-society.github.io/fonts-tbs/hife/Avantt-Heavy.woff2') format('woff2'),
       url('https://it-the-boost-society.github.io/fonts-tbs/hife/Avantt-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
